.equipo{
    width: 100%;
    background: #D9F7E9;
    padding: 32px;
    text-align: center;
    font-size: 32px;
    position: relative;
}
.input-color{
    position: absolute;
    top: 20px;
    right: 20px;
}
.equipo-h3{
 font-weight: 400;
 font-family: "Prata", serif;
 color: #212121;
 display: inline-block;
 padding-bottom: 8px;
 margin-bottom: 2em;


}

.colaboradores{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
}